.calculator {
    box-shadow: 0px 3.71px 7.16px 0px #0000001F;
    border-radius: 18px;
    padding: 16px 48px 44px 46px;
    background: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
    max-width: 544px;
    width: 100%;
    &__buttons {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top: 37px;
    }
    &__buttons_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    &__buttons_right {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    @media (max-width: 600px) {
        box-shadow: none;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        padding: 16px 25px 30px 25px;
        display: flex;
        flex-direction: column;
    }
}