* {
  box-sizing: border-box;
}

#root {
  background-color:  #FFC0CB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  min-height: 100vh;
  margin: -10px;
  @media (max-width: 600px) {
   padding-top: 0;
  }
}


